.x1{
    width: 400px;
    height: 400px;
    background-image: linear-gradient(-45deg,pink,rgb(255, 2, 44));
    border: 1px solid orange;
}

.x2{
    width: 400px;
    height: 400px;
    background-image:radial-gradient(pink,rgb(255, 2, 44));
    border: 1px solid orange;
}

.x3{
    width: 400px;
    height: 400px;
    background-image: conic-gradient(pink,rgb(255, 2, 44));
    border: 1px solid orange;
}
