body{
    background-color: beige;
}

#p1{
    background-color: blanchedalmond;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#p2{
    background-color: rgb(255, 205, 249);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#p3{
    background-color: rgb(213, 205, 255);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}