div{
    width: 400px;
    height: 200px;
    font-size: 20px;
    text-align: center;
}

.d1{
    background-color: red;
    border: 5px solid black;
    padding: 20px;
    box-sizing: border-box;
}

.d2{
    background-color: blue;
}