.d1{
    background-color: aliceblue;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    resize: both;/*default none , both , horizontal and vertical*/
    overflow: auto;
    cursor:pointer;}

.d2{
    background-color: rgb(12, 92, 162);
    width: 400px;
    height: 400px;
    margin: 0 auto;
    resize: horizontal;/*default none , both , horizontal and vertical*/
    overflow: auto;
}