div{
    height: 400px ;
    width: 400px;
    overflow: hidden;
    background-color: pink;
}
div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div:hover img{
    scale: 1.2;
    transition: all ease 1s;
}