*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(252, 251, 251);
    color: orange;
    font-family: 'Montserrat', sans-serif;
}

header{
        padding: 30px;
        background-color: white;
        
        width: 100%;
        margin-bottom: 20px;
}


.navbar a{
    text-decoration: none;
    font-size: 35px;
    margin-left: 90px;
    color: rgb(255, 111, 0);
    font-weight: bold;
}

.wymp{
    
    color: rgb(5, 5, 5);
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-left: 130px;

}

.wym{
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: rgb(250, 250, 251);
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    
}

.wym img{
    margin-top: 30px;
    margin-left: 20px;
}

.trcc{
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: rgb(250, 250, 251);
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.trcc img{
    margin-left: 30px;
    border-radius: 20px;

}

